extends index

block append content
  div(class="container")
    div(class="row")
      div(class="col-md-6")
        form(role="form" method="post" action="add_species")
          div(class="form-group")
            label(for="specieName") Name
            input(type="text" class="form-control" id="specieName" name="name")


          div(class="form-group")
            label(for="fishImage") Logo file
            input(type="file" id="fishImage" name="image")

          button(type="submit" class="btn btn-default") Submit