extends layout

block stylesheets
  link(href="/css/style.css" rel="stylesheet")

block content
  if username
    div(class="navbar navbar-default navbar-fixed-top" role="navigation")
        div(class="container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                span(class="sr-only">Toggle navigation)
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="/") FishBook
            div(class="navbar-collapse collapse")              
              ul(class="nav navbar-nav")                
                // Dropdown Cadastros
                li(class="dropdown")
                  a(href="#" class="dropdown-toggle" data-toggle="dropdown") Entries
                    b(class="caret")
                  ul(class="dropdown-menu")
                    li
                      a(href="/institutions") Institutions
                    li
                      a(href="/species") Species
                    li
                      a(href="/collectors") Collectors
                    li
                      a(href="/tagged_fishes") Tagged Fishes
                    li(class="divider")
                      li
                        a(href="/import") Import data
                    if true /* if admin */
                      li(class="divider")
                      li
                        a(href="/users") Users
                // Dropdown Monitoring
                li(class="dropdown")
                  a(href="#" class="dropdown-toggle" data-toggle="dropdown") Monitoring
                    b(class="caret")
                  ul(class="dropdown-menu")
                    li
                      a(href="/mon_collectors") Collectors
                    li
                      a(href="/mon_activities") Activities
                // Dropdown Reports
                li(class="dropdown")
                  a(href="#" class="dropdown-toggle" data-toggle="dropdown") Reports
                    b(class="caret")
                  ul(class="dropdown-menu")
                    li
                      a(href="/search_rfids") Search/Export Data

              ul(class="nav navbar-nav navbar-right")
                li
                  a(href="/profile") 
                    = username
                li
                  a(href="logout") Logout                
  else
    div(class="container")
      div(class="navbar navbar-default navbar-fixed-top" role="navigation")
        div(class="row")
          div(class="col-md-1")
          div(class="navbar-header")
            a(class="navbar-brand" href="/") FishBook
      form(class="form-signin" role="form" method="post" action="/login")
        h4(class="form-signin-heading") Please sign in
        if login_error
          div(class="alert alert-warning fade in")
            button(type="button" class="close" data-dismiss="alert" aria-hidden="true") × 
            strong 
                = login_error
        input(type="text" class="form-control" id="username" name="username" placeholder="Email address" required autofocus)
        input(type="password" class="form-control" id="password" name="password" placeholder="Password" required)        
        button(class="btn btn-primary btn-block" type="submit") Sign in

