extends base_layout

block stylesheets
  link(href="/css/style.css" rel="stylesheet")
  link(href="/css/home.css" rel="stylesheet")

block append scripts
  -var jsonArray = JSON.parse(collectors);

  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')

  script(). 
    var collectorsArray =  JSON.parse( !{JSON.stringify(collectors)} );

    var markers=[];
    
    var map;    

    function initialize() {

      //latLng = new google.maps.LatLng(latDefault, lngDefault);
      var mapOptions = {
        zoom: 8,
        //center: latLng,
        mapTypeId: google.maps.MapTypeId.HYBRID
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      //create_marker(latLng);

      drawMarkers()
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function drawMarkers(){
      var bounds = new google.maps.LatLngBounds();  

      var collectorOnlineIcon = {
        url: 'img/markers/collector_online.png'
      };

      var collectorOfflineIcon = {
        url: 'img/markers/collector_offline.png'
      };

      var collectorRFIDEventIcon = {
        url: 'img/markers/rfid_event.png'
      };

      for(var key in collectorsArray){
        var latLng = new google.maps.LatLng(collectorsArray[key].lat, collectorsArray[key].lng );

        var marker = new google.maps.Marker({
          map: map,
          draggable: false,
          icon: collectorOfflineIcon,
          title: collectorsArray[key].name
        });

        marker.setPosition(latLng);
        //map.setZoom(14);
        bounds.extend( marker.getPosition() );      

        markers.push(marker);
        
      }
      map.fitBounds( bounds );
    }


block append content

  if username
    div(class="container")
      div(id="mapCanvasRow" class="row")
        div(class="col-md-12")
          div(class="google-map-canvas" id="map-canvas")                