extends base_layout

block stylesheets
  link(href="/css/style.css" rel="stylesheet")
  link(href="/css/home.css" rel="stylesheet")

block append scripts
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')

  script(). 
    var latDefault = "-25.436090554971567";
    var lngDefault = "-54.59424287080765";
    var markers=[];
    
    var latLng;
    var map;

    function initialize() {
      latLng = new google.maps.LatLng(latDefault, lngDefault);
      var mapOptions = {
        zoom: 8,
        center: latLng,
        mapTypeId: google.maps.MapTypeId.HYBRID
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      create_marker(latLng);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function create_marker(latLng){
      marker = new google.maps.Marker({
        map: map,
          draggable: true 
      });

      marker.setPosition(latLng);
      map.setZoom(14);
      
      google.maps.event.addListener(map, "click", function(event) {
        marker.setPosition(event.latLng);
      });
      google.maps.event.addListener(marker, "drag", function(event) {
        marker.setPosition(event.latLng);
      });

      markers.push(marker);
      map.setCenter(latLng);
    }     

    function delete_markers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
    }

block append content

  if username
    div(class="container")
      div(id="mapCanvasRow" class="row")
        div(class="col-md-12")
          div(class="google-map-canvas" id="map-canvas")                