//***************************************************************
//
// www.celtab.org.br
//
// Copyright (C) 2013
//                     Gustavo Valiati <gustavovaliati@gmail.com>
//                     Luis Valdes <luisvaldes88@gmail.com>
//                     Thiago R. M. Bitencourt <thiago.mbitencourt@gmail.com>
//
// This file is part of the FishBook project
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; version 2
// of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
//
//************************************************************

extends base_layout

block append scripts
    script(src='/js/jquery.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
        $("#tableBody tr").css('cursor', 'pointer');
        
        $("#tableBody tr").click(function() {
          console.log('this.name: ' + $(this).attr('name'));
          window.location = "/update_institutions/" +$(this).attr('name');
        });
      });

block append content
  div(class="container ")
    div(class="row")
      div(class="col-md-1")
          a(class="btn btn-primary" href="/add_institutions") Add institution
    div(class="row")      
      div(class="col-md-9")        
        table(class="table")
          thead
            tr
              th Name
              th Thumbnail
          tbody(id="tableBody")
            -var jsonArray = JSON.parse(institutions)
            for data in jsonArray
              tr(name="#{data._id}") 
                td= data.name
                td
                   if data.image_name
                     img(class="img-rounded img-custom-small" src='/uploads/images/'+data.image_name)
