extends index

block content
  div(class="container")
    a(class="btn btn-lg btn-primary btn-block" href="/add_institutions") Add institution
    div(class="span-6")
      table(class="table")
        thead
          tr
            th Name
            th Thumbnail
        tbody(id="tableBody")
        if institutions != 0
          -var jsonArray = JSON.parse(institutions)
          for data in jsonArray
            tr td= data.name
              td= data.logo
