extends base_layout

block append content
  div(class="container")
    div(class="row")
      div(class="col-md-9")
        form(role="form" method="post" action="search_rfids")
          div(class="row")
            div(class="form-group")
              div(class="col-md-6")
                label(for="collectorsID") Collector ID
                input(type="text" class="form-control" id="collectorsID" name="collector_id")

                label(for="tag") TAG
                input(type="text" class="form-control" id="tag" name="tag")

                label(for="sortBy") Sort By
                select(name="sortBy" id="sortBy" class="form-control")
                  option(value="")
                  option(value="idcollectorpoint") Collector
                  option(value="identificationcode") TAG
                  option(value="datetime") Date

              div(class="col-md-6")
                label(for="sortOrder") Order
                select(name="sortOrder" id="sortOrder" class="form-control")
                  option(value="")
                  option(value="1") Ascending
                  option(value="-1") Descending

                label(for="limit") Limit of results
                input(type="text" class="form-control" id="limit" name="results_limit")
          div(class="row")
              

            div(class="col-md-1")
              button(type="submit" class="btn btn-default btn-custom") Search
    
      div(class="col-md-9")        
        table(class="table")
          thead
            tr
              th ID Collector
              th Antenna
              th TAG
              th Date
          tbody(id="tableBody")
          -var jsonArray = JSON.parse(result_list)
          for data in jsonArray
            tr 
              td= data.idcollectorpoint
              td= data.idantena
              td= data.identificationcode
              td= data.datetime